telegram-ai-data-agent.json
{
  "name": "Telegram AI Data Agent (Template)",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [0, 0],
      "id": "c1000000-0000-4000-8000-000000000001",
      "name": "Telegram Trigger",
      "webhookId": "00000000-0000-4000-8000-000000000000"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
          "conditions": [
            {
              "id": "c1000000-0000-4000-8000-00000000000a",
              "leftValue": "={{ $json.message.chat.id }}",
              "rightValue": "={{ 111111111 }}",
              "operator": { "type": "number", "operation": "equals" }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [220, 0],
      "id": "c1000000-0000-4000-8000-000000000002",
      "name": "Guard: solo mi chat",
      "notesInFlow": true,
      "notes": "Reemplaza 111111111 por tu chat ID de Telegram (te lo dice @userinfobot). Sin este guard, cualquiera podria usar tu bot y gastar tus tokens."
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "Este bot es privado.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [440, 160],
      "id": "c1000000-0000-4000-8000-000000000003",
      "name": "Rechazar desconocidos",
      "webhookId": "00000000-0000-4000-8000-000000000001"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "Eres un analista de datos. Respondes en espanol, directo y con numeros concretos. Nunca inventes datos: consulta SIEMPRE las herramientas antes de responder.\n\n# HERRAMIENTAS\n- Registros: historial completo de datos con metricas\n- Ranking: top elementos ordenados por rendimiento\n- Resumen: agregados por periodo/categoria\n\n# REGLAS\n- Maximo 80 palabras por respuesta.\n- Cada afirmacion respaldada con un numero (1 decimal).\n- Maximo 3 recomendaciones, ordenadas por impacto.\n- Pregunta ambigua: haz UNA pregunta de clarificacion.\n- Sin datos suficientes: dilo explicitamente.\n\n# FORMATO\n[dato clave con numero]\n[recomendacion accionable]\n[una accion para hoy]"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [520, -60],
      "id": "c1000000-0000-4000-8000-000000000004",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": { "__rl": true, "value": "gpt-4o-mini", "mode": "list", "cachedResultName": "gpt-4o-mini" },
        "options": { "maxTokens": 800, "temperature": 0.2 }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [400, 180],
      "id": "c1000000-0000-4000-8000-000000000005",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [560, 180],
      "id": "c1000000-0000-4000-8000-000000000006",
      "name": "Memoria de conversacion"
    },
    {
      "parameters": {
        "documentId": { "__rl": true, "value": "TU_SPREADSHEET_ID", "mode": "id" },
        "sheetName": { "__rl": true, "value": "registros", "mode": "name" },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [720, 180],
      "id": "c1000000-0000-4000-8000-000000000007",
      "name": "Registros"
    },
    {
      "parameters": {
        "documentId": { "__rl": true, "value": "TU_SPREADSHEET_ID", "mode": "id" },
        "sheetName": { "__rl": true, "value": "ranking", "mode": "name" },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [860, 180],
      "id": "c1000000-0000-4000-8000-000000000008",
      "name": "Ranking"
    },
    {
      "parameters": {
        "documentId": { "__rl": true, "value": "TU_SPREADSHEET_ID", "mode": "id" },
        "sheetName": { "__rl": true, "value": "resumen", "mode": "name" },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [1000, 180],
      "id": "c1000000-0000-4000-8000-000000000009",
      "name": "Resumen"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [880, -60],
      "id": "c1000000-0000-4000-8000-000000000010",
      "name": "Responder",
      "webhookId": "00000000-0000-4000-8000-000000000002"
    }
  ],
  "connections": {
    "Telegram Trigger": { "main": [[{ "node": "Guard: solo mi chat", "type": "main", "index": 0 }]] },
    "Guard: solo mi chat": {
      "main": [
        [{ "node": "AI Agent", "type": "main", "index": 0 }],
        [{ "node": "Rechazar desconocidos", "type": "main", "index": 0 }]
      ]
    },
    "OpenAI Chat Model": { "ai_languageModel": [[{ "node": "AI Agent", "type": "ai_languageModel", "index": 0 }]] },
    "Memoria de conversacion": { "ai_memory": [[{ "node": "AI Agent", "type": "ai_memory", "index": 0 }]] },
    "Registros": { "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]] },
    "Ranking": { "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]] },
    "Resumen": { "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]] },
    "AI Agent": { "main": [[{ "node": "Responder", "type": "main", "index": 0 }]] }
  },
  "pinData": {},
  "settings": { "executionOrder": "v1" }
}
